@import './shared/base.style';

@import '../assets/vex-3.0.0/sass/vex';

* {
  box-sizing: border-box;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}
